<p>
  Data were analyzed using <a href="https://nilearn.github.io">Nilearn</a>
  (version= {{ version }}; RRID:SCR_001362).
</p>

{% if smoothing_fwhm %}
  <p>
    Input images were smoothed with gaussian kernel
    (full-width at half maximum={{ smoothing_fwhm }} mm).
  </p>
{% endif %}
