div.sphx-glr-download a {
  background-color: transparent;
  background-image: none;
  border: 1px solid var(--sd-color-primary);
  border-radius: 4px;
  color: var(--sd-color-primary);
  padding: 1ex;
  text-align: center;
}

div.sphx-glr-download a:hover {
  box-shadow: none;
  text-decoration: none;
  background-image: none;
  background-color: var(--sd-color-primary-highlight);
  border: 1px solid var(--sd-color-primary-highlight);
  color: var(--sd-color-light);
}

div.sphx-glr-download a .pre {
  font-family: var(--font-stack);
}

/* Hide note in examples' header */
div.sphx-glr-download-link-note {
  height: 0px;
  visibility: hidden;
}

/* Scripts outputs */
.sphx-glr-script-out {
  /* Use Furo color variables to handle light/dark modes */
  color: var(--color-content-foreground);
}

div[class*=" highlight-"].sphx-glr-script-out,
div[class^="highlight-"].sphx-glr-script-out {
  display: block;
}

.sphx-glr-script-out .highlight {
  border-radius: 0px;
}

.sphx-glr-script-out .highlight pre {
  /* Use Furo color variables to handle light/dark modes */
  background-color: var(--color-background-secondary);
  color: var(--color-content-foreground);
  border-left: 3px solid var(--sd-color-primary);
}
