:root {
  --color-blue3: #137CBD;
  --color-blue2: #106BA3;
}

div.sphx-glr-download a {
  background-color: var(--color-blue3);
  background-image: none;
  border-radius: 4px;
  border: 0px;
  color: #FFFFFF;
  padding: 1ex;
  text-align: center;
}

div.sphx-glr-download a:hover {
  box-shadow: none;
  text-decoration: none;
  background-image: none;
  background-color: var(--color-blue2);
}

div.sphx-glr-download a .pre {
  font-family: var(--font-stack);
}
