# General
*~
*#
.#*
*.nt.bz2
*.pyc
*.so
*.swo
*.swp
*.tar.gz
*.tgz
*.zip
.DS_Store

# Distribution files
build
dist/

# Documentation files
doc/.nojekyll
doc/_build/
doc/auto_examples/
doc/building_blocks/generated/
doc/datasets/generated/
doc/generated/
doc/modules/generated/
doc/themes/nilearn/static/jquery.js

# Coverage files
coverage
.coverage
nosetests_coverage/
.ropeproject/

# Virtual environment
venv/
env/

# IDE
.idea/
.vscode/

# Examples artifacrs
examples/**/*.pdf
examples/results/

# Other
nilearn.egg-info/
nilearn_cache
nilearn_data
pip-log.txt
tags