*.pyc
*.so
*~
.#*
*.nt.bz2
*.swp
*.swo
*.tar.gz
*.tgz
*.zip
*#

nilearn_cache
nilearn_data

pip-log.txt

.ropeproject/

tags

tmp

# Mac OS X
.DS_Store

# IDE related
.idea/
.vscode/

# build related
nilearn.egg-info/
build
dist/

# virtual environment
env/
venv/

# coverage
.coverage
coverage
nosetests_coverage/

# documentation
doc/.nojekyll
doc/_build/
doc/auto_examples/
doc/building_blocks/generated/
doc/datasets/generated/
doc/generated/
doc/modules/generated/
doc/themes/nilearn/static/jquery.js

# examples
examples/**/*.pdf
examples/**/results/
examples/results/
