Aina Frau Pascual <ainafp@gmail.com>
Alexandre Abadie <alexandre.abadie@inria.fr>
Alexandre Abraham <abraham.alexandre@gmail.com>
Alexandre Gramfort <alexandre.gramfort@inria.fr>
Alexandre Savio <alexsavio@gmail.com>
Arthur Mensch <arthur.mensch@gmail.com>
Ben Cipollini <bcipolli@ucsd.edu>
Bertrand Thirion <bertrand.thirion@inria.fr>
Chris Filo Gorgolewski <krzysztof.gorgolewski@gmail.com>
Danilo Bzdok <danilobzdok@gmail.com>
Demian Wassermann <demian.wassermann@inria.fr>
Dimitri Papadopoulos Orfanos <dimitri.papadopoulos@cea.fr>
Elvis Dohmatob <elvis.dohmatob@inria.fr>
Fabian Pedregosa <f@bianp.net>
Gael Varoquaux <gael.varoquaux@normalesup.org>
Jan Margeta <jmargeta@gmail.com>
Jaques Grobler <jaquesgrobler@gmail.com>
Jason Gors <jason.gors.work@gmail.com>
Jona Sassenhagen <jona.sassenhagen@gmail.com>
Jean Kossaifi <jean.kossaifi@gmail.com>
Jean Remi King <jeanremi.king@gmail.com>
Jeff Chiang <jeff.njchiang@gmail.com>
Julia Huntenburg <ju.huntenburg@gmail.com>
J Necus <j.necus2@ncl.ac.uk>
Kamalakar Daddy <dkamalakarreddy@gmail.com>
Konstantin Shmelkov <konstantin.shmelkov@polytechnique.edu>
Loïc Estève <loic.esteve@ymail.com>
Martin Perez-Guevara <mperezguevara@gmail.com>
Matthias Ekman <matthias.ekman@gmail.com>
Mehdi Rahim <mehdi.rahim@cea.fr>
Mehdi Rahim <mehdi.rahim@cea.fr> <mrahim@users.noreply.github.com>
Michael Eickenberg <michael.eickenberg@gmail.com>
Michael Hanke <michael.hanke@gmail.com>
Michael Waskom <mwaskom@stanford.edu>
Moritz Boos <moritz.boos@gmail.com>
Moritz Boos <moritz.boos@gmail.com> <moritz.boos@uni-oldenburg.de>
Óscar Nájera <najera.oscar@gmail.com>
Philippe Gervais <philippe.gervais@inria.fr>
Ronald Phlypo <Ronald.Phlypo@inria.fr>
Salma Bougacha <salmabougacha@hotmail.com>
Vincent Michel <vm.michel@gmail.com>
Virgile Fritsch <virgile.fritsch@gmail.com>
Yannick Schwartz <yannick.schwartz@cea.fr>
