---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
    autoupdate_commit_msg: 'chore: update pre-commit hooks'
    autofix_prs: false

#  Files that should not be checked
exclude: |
    (?x)^(
        nilearn/datasets/tests/data/localizer_behavioural.tsv
        | nilearn/externals/.*
        | nilearn/plotting/data/js/.*js
        | nilearn/_version.py
        | asv_benchmarks/asv.conf.json
    )$

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-ast
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace

    # Checks for .rst files
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: rst-directive-colons
    -   id: rst-inline-touching-normal
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: rst-backticks

    # Checks for spelling errors
-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        args: [--toml, pyproject.toml]
        additional_dependencies: [tomli]

    # Format YAML files
-   repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
    rev: 0.2.3
    hooks:
    -   id: yamlfmt
        args: [--mapping, '4', --sequence, '4', --offset, '0']

    # Format TOML files
-   repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.14.0
    hooks:
    -   id: pretty-format-toml
        args: [--autofix, --indent, '4']

    # Check formatting of CSS and HTML
    # prettier: https://prettier.io/
-   repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.5.3
    hooks:
    -   id: prettier
        types_or: [css, html]
        exclude: |
            (?x)^(
                maint_tools/templates/index.html
            )$

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.10
    hooks:
    # Run the linter.
    -   id: ruff
        # args: [--statistics]
        args: [--fix, --show-fixes]
    # Run the formatter.
    -   id: ruff-format
        # args: [--diff]


-   repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
    -   id: doc8
        args: [--config=pyproject.toml, nilearn]

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
    -   id: mypy
        files: nilearn
        additional_dependencies: [numpy, nibabel, requests, pandas-stubs, lxml-stubs, types-requests]
        args: [--config-file, pyproject.toml, --pretty]
