# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

exclude: |
    (?x)^(
        nilearn/datasets/tests/data/localizer_behavioural.tsv
        | nilearn/externals/.*
        | nilearn/plotting/data/js/.*js
        | nilearn/_version.py
        | examples/01_plotting/plot_3d_map_to_surface_projection.py
        | examples/01_plotting/plot_demo_more_plotting.py
        | examples/01_plotting/plot_demo_plotting.py
        | examples/01_plotting/plot_surf_atlas.py
        | examples/01_plotting/plot_surf_stat_map.py
        | examples/01_plotting/plot_surface_projection_strategies.py
        | examples/04_glm_first_level/plot_fiac_analysis.py
        | examples/04_glm_first_level/plot_fixed_effects.py
        | examples/04_glm_first_level/plot_localizer_surface_analysis.py
        | examples/07_advanced/plot_surface_bids_analysis.py
        | nilearn/_utils/helpers.py
        | nilearn/_utils/docs.py
        | nilearn/_utils/tests/test_data_gen.py
        | nilearn/_utils/data_gen.py
        | nilearn/reporting/html_report.py
        | nilearn/reporting/tests/test_html_report.py
        | nilearn/glm/tests/test_contrasts.py
        | nilearn/glm/contrasts.py
        | nilearn/glm/first_level/first_level.py
        | nilearn/glm/tests/test_second_level.py
        | nilearn/glm/tests/test_first_level.py
        | nilearn/interfaces/fmriprep/load_confounds_compcor.py
        | nilearn/interfaces/fmriprep/tests/test_load_confounds_utils.py
        | nilearn/interfaces/fmriprep/tests/test_load_confounds_strategy.py
        | nilearn/interfaces/fmriprep/tests/utils.py
        | nilearn/interfaces/fmriprep/tests/test_load_confounds.py
        | nilearn/maskers/nifti_masker.py
        | nilearn/maskers/nifti_spheres_masker.py
        | nilearn/maskers/nifti_labels_masker.py
        | nilearn/maskers/nifti_maps_masker.py
        | nilearn/maskers/tests/test_nifti_spheres_masker.py
        | nilearn/maskers/tests/test_nifti_labels_masker.py
        | nilearn/maskers/tests/test_nifti_maps_masker.py
        | nilearn/maskers/tests/test_nifti_masker.py
        | nilearn/plotting/glass_brain_files/plot_align_svg.py
        | nilearn/plotting/edge_detect.py
        | nilearn/plotting/html_document.py
        | nilearn/plotting/glass_brain_files/svg_to_json_converter.py
        | nilearn/plotting/rm_file.py
        | nilearn/plotting/glass_brain.py
        | nilearn/plotting/tests/test_cm.py
        | nilearn/plotting/js_plotting_utils.py
        | nilearn/plotting/html_connectome.py
        | nilearn/plotting/find_cuts.py
        | nilearn/plotting/html_surface.py
        | nilearn/plotting/tests/test_html_document.py
        | nilearn/plotting/displays/_axes.py
        | nilearn/plotting/cm.py
        | nilearn/plotting/html_stat_map.py
        | nilearn/plotting/tests/test_img_plotting/test_plot_anat.py
        | nilearn/plotting/tests/test_img_plotting/test_get_colorbar_and_data_ranges.py
        | nilearn/plotting/tests/test_html_surface.py
        | nilearn/plotting/tests/test_html_connectome.py
        | nilearn/plotting/tests/test_img_plotting/test_img_plotting.py
        | nilearn/plotting/tests/test_img_plotting/test_plot_carpet.py
        | nilearn/plotting/tests/test_img_plotting/test_plot_glass_brain.py
        | nilearn/plotting/tests/test_img_plotting/test_plot_prob_atlas.py
        | nilearn/plotting/tests/test_html_stat_map.py
        | nilearn/plotting/tests/test_img_plotting/test_plot_img_comparisons.py
        | nilearn/plotting/tests/test_find_cuts.py
        | nilearn/plotting/tests/test_displays.py
        | nilearn/plotting/tests/test_img_plotting/test_plot_roi.py
        | nilearn/plotting/tests/test_img_plotting/test_plot_img.py
        | nilearn/plotting/tests/test_matplotlib_backend.py
        | nilearn/plotting/tests/test_img_plotting/test_plot_stat_map.py
        | nilearn/plotting/matrix_plotting.py
        | nilearn/plotting/tests/test_img_plotting/test_plot_markers.py
        | nilearn/plotting/tests/test_img_plotting/test_plot_connectome.py
        | nilearn/plotting/tests/test_matrix_plotting.py
        | nilearn/plotting/tests/test_js_plotting_utils.py
        | nilearn/plotting/surf_plotting.py
        | nilearn/plotting/img_plotting.py
        | nilearn/plotting/tests/test_surf_plotting.py
        | nilearn/surface/surface.py
        | nilearn/surface/tests/test_surface.py
        | nilearn/tests/test_masking.py
        | nilearn/tests/test_signal.py
    )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-toml

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/ikamensh/flynt/
    rev: "0.78"
    hooks:
    -   id: flynt

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.8.0
    hooks:
      - id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args: ["--config", "pyproject.toml"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        args: ["--toml", "pyproject.toml"]
        additional_dependencies: [tomli]

  - repo: https://github.com/pyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        args: ["--config", ".flake8", "--verbose"]
        additional_dependencies: [flake8-docstrings, flake8-use-fstring]
