# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

jobs:

- job: 'Run Tests on Windows'
  pool:
    vmImage: 'vs2017-win2016'
  strategy:
    matrix:
      Python35:
        python.version: '3.5'
      Python37:
        python.version: '3.7'
    maxParallel: 4

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - script: |
      python -m pip install --upgrade pip
      pip install --prefer-binary -r requirements-dev.txt
      pip install pytest-azurepipelines codecov
    displayName: 'Install dependencies'

  - script: |
      pip install .
      python -m pytest --pyargs nilearn --cov-report=xml --cov=nilearn --cov-append --junitxml=test-results.xml
    displayName: 'test'

  - script: |
      codecov -f coverage.xml --token=$(CODECOV_TOKEN)
    displayName: 'codecov'
  - task: PublishTestResults@2
    inputs:
      testResultsFiles: '**/test-results.xml'
      testRunTitle: 'Python $(python.version)'
    condition: succeededOrFailed()

- job: 'Test Installation on Linux'
  pool:
    vmImage: 'ubuntu-18.04'
  strategy:
    matrix:
      Python35:
        python.version: '3.5'
      Python37:
        python.version: '3.7'
    maxParallel: 4

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - script: |
      set -e
      python -m pip install --upgrade pip
      pip install --prefer-binary setuptools wheel
      python setup.py sdist bdist_wheel
    displayName: 'Install dependencies & build Nilearn'

  - script: |
      set -e
      pip list
      pip install dist/nilearn-*-py3-none-any.whl
      pip list
    displayName: 'Install Nilearn from wheel'

- job: 'Test Installation on Windows'
  pool:
    vmImage: 'vs2017-win2016'
  strategy:
    matrix:
      Python35:
        python.version: '3.5'
      Python37:
        python.version: '3.7'
    maxParallel: 4

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - script: |
      set -e
      python -m pip install --upgrade pip
      pip install --prefer-binary setuptools wheel
      python setup.py sdist bdist_wheel
    displayName: 'Install dependencies & build Nilearn'

  - script: |
      set -e
      pip list
      pip install dist/nilearn-*-py3-none-any.whl
      pip list
    displayName: 'Install Nilearn from wheel'
