[build-system]
build-backend = "hatchling.build"
requires = ["hatchling", "hatch-vcs"]

[project]
authors = [{name = "Nilearn developers"}]
classifiers = [
    "Intended Audience :: Science/Research",
    "Intended Audience :: Developers",
    "License :: OSI Approved",
    "Programming Language :: C",
    "Programming Language :: Python",
    "Topic :: Software Development",
    "Topic :: Scientific/Engineering",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX",
    "Operating System :: Unix",
    "Operating System :: MacOS",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12"
]
dependencies = [
    "joblib>=1.0.0",
    "lxml",
    "nibabel>=4.0.0",
    "numpy>=1.19.0",
    "pandas>=1.1.5",
    "requests>=2.25.0",
    "scikit-learn>=1.0.0",
    "scipy>=1.8.0",
    "packaging"
]
description = "Statistical learning for neuroimaging in Python"
# Version from setuptools_scm
dynamic = ["version"]
license = {text = "new BSD"}
maintainers = [{name = "Bertrand Thirion", email = "bertrand.thirion@inria.fr"}]
name = "nilearn"
readme = "README.rst"
requires-python = ">=3.8"

[project.optional-dependencies]
# A combination of dependencies useful for developers
dev = [
    "nilearn[plotting,doc,style,test]",
    'pre-commit',
    'tox'
]
# Requirements necessary for building the documentation
doc = [
    "nilearn[plotting]",
    "furo",
    "memory_profiler",  # measuring memory during docs building
    "myst-parser",
    "numpydoc",
    "ruamel.yaml",
    "sphinx",
    "sphinx-copybutton",
    "sphinx-design",
    "sphinx-gallery",
    "sphinxcontrib-bibtex",
    "sphinxext-opengraph"
]
# the following is kept for "backward compatibility"
plotly = ["nilearn[plotting]"]
# Necessary req to use nilearn's plotting module
# Kaleido version is pinned for windows due to bug
# See https://github.com/plotly/Kaleido/issues/134 for more detail
plotting = [
    "matplotlib>=3.3.0",
    "plotly",
    "kaleido ; platform_system != 'Windows'",
    "kaleido==0.1.0.post1 ; platform_system == 'Windows'"
]
style = [
    "black",
    "blacken-docs",
    'codespell',
    "isort",
    "flake8",
    "flake8-docstrings",
    "flake8-use-fstring",
    "flake8-functions",
    "flynt",
    'tomli'
]
# For running unit and docstring tests
test = [
    "coverage",
    "pytest>=6.0.0",
    "pytest-cov",
    "pytest-reporter-html1>=0.9.1"
]

[project.urls]
Changelog = "https://nilearn.github.io/stable/changes/whats_new.html"
Development = "https://github.com/nilearn/nilearn"
Discussions = "https://neurostars.org/tag/nilearn"
Homepage = "https://nilearn.github.io"

[tool.black]
# 'extend-exclude' excludes files or directories in addition to the defaults
extend-exclude = """
(
  nilearn/externals
)
"""
line-length = 79

[tool.codespell]
ignore-words = ".github/codespell_ignore_words.txt"
skip = "./.git,plotly-gl3d-latest.min.js,jquery.min.js,localizer_behavioural.tsv,.mypy_cache,env,venv,./doc/auto_examples,*/tmp,./doc/modules/generated/*,./doc/_build,./maint_tools/*.html,./examples/*/results"

[tool.hatch.build.hooks.vcs]
version-file = "nilearn/_version.py"

[tool.hatch.build.targets.wheel]
packages = ["nilearn"]

[tool.hatch.version]
source = "vcs"

[tool.isort]
combine_as_imports = true
line_length = 79
profile = "black"
skip_gitignore = true
skip_glob = [
    "nilearn/externals/*",
    "doc/auto_examples/*"
]
src_paths = [
    'maint_tools',
    'nilearn',
    'doc'
]

[tool.pytest.ini_options]
addopts = "-ra --strict-config --strict-markers --doctest-modules --showlocals -s -vv --durations=0 --template=maint_tools/templates/index.html"
doctest_optionflags = "NORMALIZE_WHITESPACE ELLIPSIS"
junit_family = "xunit2"
minversion = "6.0"
xfail_strict = true
