[tool.black]
line-length = 79
include = """
(
  examples/.*py
  | maint_tools/.*py
  | setup.py
  | nilearn/connectome/.*py
  | nilearn/dec.*
  | nilearn/image/.*py
  | nilearn/mass_univariate/.*py
  | nilearn/regions/.*py
  | nilearn/signal.py
  | nilearn/masking.py
  | nilearn/conftest.py
)
"""
# 'extend-exclude' excludes files or directories in addition to the defaults
extend-exclude =  '''
(
  nilearn/externals
  | examples/.*/.*3d_map_to_surface_projection.py
  | examples/.*/.*demo_glass_brain.py
  | examples/.*/.*demo_glass_brain_extensive.py
  | examples/.*/.*demo_more_plotting.py
  | examples/.*/.*demo_plotting.py
  | examples/.*/.*fiac_analysis.py
  | examples/.*/.*fixed_effects.py
  | examples/.*/.*frem.py
  | examples/.*/.*group_level_connectivity.py
  | examples/.*/.*negate_image.py
  | examples/.*/.*localizer_surface_analysis.py
  | examples/.*/.*searchlight_surface.py
  | examples/.*/.*resample_to_template.py
  | examples/.*/.*surf_atlas.py
  | examples/.*/.*surf_stat_map.py
  | examples/.*/.*surface_bids_analysis.py
  | examples/.*/.*surface_projection_strategies.py
)
'''


[tool.isort]
profile = "black"
src_paths = [
  'maint_tools',
  'setup.py',
  'nilearn/connectome/.*py',
  'nilearn/dec.*',
  'nilearn/image/.*py',
  'nilearn/mass_univariate/.*py',
  'nilearn/regions/.*py',
]
line_length = 79
skip_gitignore = true
combine_as_imports = true
