[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[project]
name = "nilearn"
description = "Statistical learning for neuroimaging in Python"
long_description = { file = "README.rst" }
authors = [{ name = "Nilearn developers" }]
maintainers = [{ name = "Bertrand Thirion", email = "bertrand.thirion@inria.fr" }]
readme = "README.rst"
license = { text = "new BSD" }
requires-python = ">=3.7"
dependencies = [
  "joblib>=1.0.0",
  "lxml",
  "nibabel>=3.2.0",
  "numpy>=1.19.0",
  "pandas>=1.1.5",
  "requests>=2.25.0",
  "scikit-learn>=1.0.0",
  "scipy>=1.6.0",
  "packaging"
]
classifiers = [
  "Intended Audience :: Science/Research",
  "Intended Audience :: Developers",
  "License :: OSI Approved",
  "Programming Language :: C",
  "Programming Language :: Python",
  "Topic :: Software Development",
  "Topic :: Scientific/Engineering",
  "Operating System :: Microsoft :: Windows",
  "Operating System :: POSIX",
  "Operating System :: Unix",
  "Operating System :: MacOS",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
]
# Version from setuptools_scm
dynamic = ["version"]

[project.urls]
Homepage = "https://nilearn.github.io"
Development = "https://github.com/nilearn/nilearn"
Discussions = "https://neurostars.org/tag/nilearn"
Changelog = "https://nilearn.github.io/stable/changes/whats_new.html"

[project.optional-dependencies]
# Necessary req to use nilearn's plotting module
plotting = ["matplotlib>=3.3.0"]
# For surface plotting mostly
plotly = ["kaleido", "plotly"]
# Requirements necessary for building the documentation
doc = [
	"nilearn[plotly]",
	"coverage",
	"flake8",
	"flake8-docstrings",
	"furo",
	"memory_profiler",  # measuring memory during docs building
	"mkl",
	"myst-parser",
	"numpydoc",
  "ruamel.yaml",
	"sphinx",
	"sphinx-copybutton",
	"sphinx-design",
	"sphinx-gallery",
	"sphinxcontrib-bibtex",
	"sphinxext-opengraph",
]
# For testing of oldest usable versions of dependencies.
min = [
	"joblib==1.0.0",
	"nibabel==3.2.0",
	"numpy==1.19.0",
	"pandas==1.1.5",
	"scikit-learn==1.0.0",
	"scipy==1.6.0",
]
# For running unit and docstring tests
test = [
	"coverage",
	"pytest>=6.0.0",
	"pytest-cov",
]
# A combination of dependencies useful for developers
dev = [
	"nilearn[plotting,plotly,doc,test]",
	"isort",
	"flynt",
	"black",
   "flake8-use-fstring",
]

[tool.hatch.build.targets.wheel]
packages = ["nilearn"]

[tool.hatch.version]
source = "vcs"

[tool.hatch.build.hooks.vcs]
version-file = "nilearn/_version.py"

[tool.black]
line-length = 79
# 'extend-exclude' excludes files or directories in addition to the defaults
extend-exclude =  """
(
  nilearn/externals
  | nilearn/_utils/data_gen.py
  | nilearn/_utils/docs.py
  | nilearn/_utils/helpers.py
  | nilearn/_utils/tests/test_data_gen.py
  | nilearn/reporting/html_report.py
  | nilearn/reporting/tests/test_html_report.py
  | nilearn/glm/contrasts.py
  | nilearn/glm/first_level/first_level.py
  | nilearn/glm/tests/test_contrasts.py
  | nilearn/glm/tests/test_first_level.py
  | examples/01_plotting/plot_3d_map_to_surface_projection.py
  | examples/01_plotting/plot_demo_more_plotting.py
  | examples/01_plotting/plot_demo_plotting.py
  | examples/01_plotting/plot_surf_atlas.py
  | examples/01_plotting/plot_surf_stat_map.py
  | examples/01_plotting/plot_surface_projection_strategies.py
  | examples/04_glm_first_level/plot_fiac_analysis.py
  | examples/04_glm_first_level/plot_fixed_effects.py
  | examples/04_glm_first_level/plot_localizer_surface_analysis.py
  | examples/07_advanced/plot_surface_bids_analysis.py
  | nilearn/interfaces/fmriprep/load_confounds_compcor.py
  | nilearn/interfaces/fmriprep/tests/test_load_confounds_utils.py
  | nilearn/interfaces/fmriprep/tests/test_load_confounds_strategy.py
  | nilearn/interfaces/fmriprep/tests/utils.py
  | nilearn/interfaces/fmriprep/tests/test_load_confounds.py
  | nilearn/maskers/nifti_spheres_masker.py
  | nilearn/maskers/nifti_labels_masker.py
  | nilearn/plotting/displays/_axes.py
  | nilearn/plotting/glass_brain.py
  | nilearn/plotting/html_surface.py
  | nilearn/plotting/img_plotting.py
  | nilearn/plotting/js_plotting_utils.py
  | nilearn/plotting/surf_plotting.py
  | nilearn/plotting/tests/test_html_stat_map.py
  | nilearn/plotting/tests/test_html_surface.py
  | nilearn/plotting/tests/test_surf_plotting.py
  | nilearn/surface/surface.py
  | nilearn/surface/tests/test_surface.py
  | nilearn/tests/test_masking.py
  | nilearn/tests/test_signal.py
)
"""

[tool.isort]
profile = "black"
skip_glob = [
  "nilearn/externals/*",
  "doc/auto_examples/*",
]
src_paths = [
  'maint_tools',
  'nilearn',
  'doc',
]
line_length = 79
skip_gitignore = true
combine_as_imports = true

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--doctest-modules -s -vv --durations=0"
doctest_optionflags = "NORMALIZE_WHITESPACE ELLIPSIS"
junit_family = "xunit2"
# TODO: Remove filter in release 0.13
filterwarnings = "ignore:.*Please use 'zscore_sample' instead.:FutureWarning"

[tool.codespell]
skip = "./.git,plotly-gl3d-latest.min.js,jquery.min.js,localizer_behavioural.tsv,.mypy_cache,env,venv,./doc/auto_examples,*/tmp,./doc/modules/generated/*,./doc/_build"
ignore-words = ".github/codespell_ignore_words.txt"

[tool.flynt]
exclude = "tempita"
