html {
  font-family: sans-serif;
}

main {
  margin: 4px 8px 4px 8px;
  display: flex;
  justify-content: center;
}

body footer {
  padding: 0px 32px 0px 32px;
  display: flex;
  justify-content: center;
  text-align: center;
}
