# quick-build rebuilds changes using the cached documentation.
# The cache is emptied everyday, forcing a full build on the day's first push.
# It doesn't operate on master branch. New branches are always built from scratch.
# full-build always rebuilds from scratch, without any cache. Only for changes in master branch.

version: 2.1

commands:

  preinstall:
    description: "Cleans up unused packages; Updates system packages"
    steps:
      - run:
          name: Remove conflicting packages
          command: |
            # Get rid of existing virtualenvs on circle ci as they conflict with conda.
            # Trick found here:
            # https://discuss.circleci.com/t/disable-autodetection-of-project-or-application-of-python-venv/235/10
            cd && rm -rf ~/.pyenv && rm -rf ~/virtualenvs

            # We need to remove conflicting texlive packages.
            sudo -E apt-get -yq remove texlive-binaries --purge
      - run:
          name: Install packages for make -C doc check
          command: |
            # Installing required packages for `make -C doc check command` to work.
            sudo -E apt-get -yq update
            sudo -E apt-get -yq --no-install-suggests --no-install-recommends --force-yes install dvipng texlive-latex-base texlive-latex-extra

  restore_from_cache:
    description: "Restores the cache of previously built docs & python packages if present"
    steps:
      - run:
          name: Generate cache keys from today's date for built docs & week number for python packages
          command: |
            date +%F > today
            date +%U > week_num
      - restore_cache:
          key: v1-packages+datasets-{{ checksum "week_num" }}-{{ checksum ".circleci/packages-cache-timestamp" }}
      - restore_cache:
          key: v1-docs-{{ .Branch }}-{{ checksum "today" }}-{{ checksum ".circleci/docs-cache-timestamp" }}

  cache_aware_conda_setup:
    description: "Downloads & installs conda if not restord by cache"
    steps:
      - run:
          name: Download & install conda if absent
          command: |
            if
              ls $HOME/miniconda3/bin | grep conda -q
            then
              echo "(Mini)Conda already present from the cache."
            else
              wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O ~/miniconda.sh
              chmod +x ~/miniconda.sh && ~/miniconda.sh -b
            fi
      - run:
          name: Setup conda path in env variables
          command: |
            echo 'export PATH="$HOME/miniconda3/bin:$PATH"'  >> $BASH_ENV
      - run:
          name: Create new conda env
          command: |
            if
              conda env list | grep testenv
            then
              echo "Conda env testenv already exists courtesy of the cache."
            else
              conda create -n testenv -yq
            fi

  cache_ignorant_conda_setup:
    description: "Downloads & installs only the fresh copy of conda."
    steps:
      - run:
          name: setup conda afresh
          command: |
            wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O ~/miniconda.sh
            chmod +x ~/miniconda.sh && ~/miniconda.sh -b
            echo 'export PATH="$HOME/miniconda3/bin:$PATH"'  >> $BASH_ENV
      - run: conda create -n testenv

  install_dependencies:
    description: "Installs the necessary Python packages"
    steps:
      - run:
          name: Install packages in conda env
          command: |
            conda install -n testenv python=3.7 numpy scipy scikit-learn matplotlib pandas \
            lxml mkl sphinx numpydoc pillow pandas -yq
            conda install -n testenv nibabel sphinx-gallery junit-xml -c conda-forge -yq

  build_docs:
    description: "Installs Nilearn & builds documentation using Sphinx's make html-strict"
    steps:
      - run:
          name: Building documentation
          command: |
            source activate testenv
            pip install -e .
            set -o pipefail && cd doc && make html-strict 2>&1 | tee log.txt
          no_output_timeout: 7h

  store_results:
    description: "Stores build times and artifacts"
    steps:
      - store_test_results:
          path: doc/_build/test-results
      - store_artifacts:
          path: doc/_build/test-results
      - store_artifacts:
          path: doc/_build/html
      - store_artifacts:
          path: coverage
      - store_artifacts:
          path: doc/log.txt

  save_to_cache:
    description: "Caches the downloaded packages & buit docs."
    steps:
      - save_cache:
          key: v1-packages+datasets-{{ checksum "week_num" }}
          paths:
            - ../nilearn_data
            - ../miniconda3
      - save_cache:
          key: v1-docs-{{ .Branch }}-{{ checksum "today" }}-{{ checksum ".circleci/docs-cache-timestamp" }}
          paths:
            - doc


jobs:

  quick-build:
    docker:
      - image: circleci/python:3.7
    environment:
      DISTRIB: "conda"
      PYTHON_VERSION: "3.7"
      NUMPY_VERSION: "*"
      SCIPY_VERSION: "*"
      SCIKIT_LEARN_VERSION: "*"
      JOBLIB_VERSION: "*"
      MATPLOTLIB_VERSION: "*"

    steps:
      - checkout
      - preinstall
      - restore_from_cache
      - cache_aware_conda_setup
      - install_dependencies
      - build_docs
      - store_results
      - save_to_cache

  full-build:
    docker:
      - image: circleci/python:3.7
    environment:
      DISTRIB: "conda"
      PYTHON_VERSION: "3.7"
      NUMPY_VERSION: "*"
      SCIPY_VERSION: "*"
      SCIKIT_LEARN_VERSION: "*"
      MATPLOTLIB_VERSION: "*"

    steps:
      - checkout
      - preinstall
      - cache_ignorant_conda_setup
      - install_dependencies
      - build_docs
      - store_results


workflows:
  version: 2
  push:
    jobs:
      - quick-build:
          filters:
            branches:
              ignore:
                - master
                - test-circleci  # test branch to check if merges occur on master as expected.

      - full-build:
          filters:
            branches:
              only:
                - master
                - test-circleci  # test branch to check if merges occur on master as expected.

  nightly:
    triggers:
      - schedule:
          cron: "0 6 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - full-build
