<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <link rel="icon"
              type="image/x-icon"
              href="https://raw.githubusercontent.com/nilearn/nilearn/main/doc/logos/favicon.ico" />
        <meta name="viewport"
              content="width = device-width, initial-scale = 1"
              charset="UTF-8" />
        {{ js_libraries }}

        {% block script %}
        {% endblock script %}

    </head>
    <body>
        <main>

            {% block main %}
            {% endblock main %}

        </main>
    </body>
</html>
