<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Nilearn - {{ page_title }}</title>
        <link rel="icon"
              type="image/x-icon"
              href="https://raw.githubusercontent.com/nilearn/nilearn/main/doc/logos/favicon.ico" />
        <meta name="viewport"
              content="width = device-width, initial-scale = 1"
              charset="UTF-8" />
        {% if head_css %}
            <!-- djlint:off --><style type="text/css">{% include "css/head.css" %}</style><!-- djlint:on -->
        {% endif %}

        {% block style %}
        {% endblock style %}

        {% block script %}
        {% endblock script %}

    </head>
    <body>

        {% block body_main %}
        {% endblock body_main %}

        {% block body_footer %}
        {% endblock body_footer %}

    </body>

    {% block endscript %}
    {% endblock endscript %}

</html>
