{% extends "html/head.jinja" %}

{% block main %}
    <div id="div_viewer">
        <!-- this is the canvas that will feature the brain slices -->
        <canvas id="3Dviewer">
            <!-- load a hidden version of the sprite image that includes all (sagittal) brain slices -->
            <img id="spriteImg"
                 class="hidden"
                 src="data:image/png;base64,{{ bg_base64 }}"
                 alt="background" />
            <!-- the colormap -->
            <img id="colorMap"
                 class="hidden"
                 src="data:image/png;base64,{{ cm_base64 }}"
                 alt="colormap" />
            <!-- another sprite image, with an overlay-->
            <img id="overlayImg"
                 class="hidden"
                 src="data:image/png;base64,{{ stat_map_base64 }}"
                 alt="overlay" />
        </canvas>
        <div style="display: flex; align-items: center; gap: 10px;">
            <p>Opacity</p>
            <input type="range"
                   min="1"
                   max="100"
                   value="100"
                   class="slider"
                   id="opacity">
            <span id="demo"></span>
        </div>
    </div>
    <script> {% include "js/jquery.min.js" %} </script>
    <script> {% include "js/brainsprite.min.js" %} </script>
    <script>
      var brain

      $(window).on("load", function () {
        brain = brainsprite({{ params }});
      });

      var slider = document.getElementById("opacity");
      var output = document.getElementById("demo");
      slider.oninput = function () {
        output.innerHTML = this.value;
        brain.overlay.opacity = this.value / 100;
        brain.init();
        brain.drawAll();
      }
    </script>
{% endblock main %}
