{% if content %}
    <div class="pure-u-1 pure-u-md-3-3 d-flex justify-content-center">
        <p>
            This report was generated based on information provided at instantiation and fit time.
            Note that the masker can potentially perform resampling at transform time.
        </p>
    </div>
{% endif %}
