{% extends "html/head.jinja" %}

{% block main %}

    {% include "html/partials/brainsprite.jinja" %}

    <script> {% include "js/jquery.min.js" %} </script>
    <script> {% include "js/brainsprite.min.js" %} </script>
    <script> {% include "js/brainsprite_opacity.jinja" %} </script>
{% endblock main %}
