<style>
  div.report {
    font-family: sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  div.model_details {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
  }

  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }

  tr,
  td {
    border-bottom: 0px;
    border-top: 0px;
  }

  tr:nth-child(even) {
    background-color: lightgray;
  }

  tr:hover {
    background-color: yellow;
  }

  details:hover {
    cursor: pointer;
  }
  details > summary {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    background-color: lightgray;
    outline-color: lightgray;
  }

  address {
    color: lightgray;
  }
  address > a:visited {
    color: lightgray;
  }
</style>

<div class="report">
  <h1>{{page_heading_1}}</h1>
  <!-- func:reporting._utils.make_headings() -->
  <h2>{{page_heading_2}}</h2>
  <!-- func:reporting._utils.make_headings() -->

  <section id="model-details-{{unique_id}}">
    <h2>Model details</h2>
    {{ parameters|html }}
  </section>

  <section id="design-matrix-{{unique_id}}">
    <h2>Design Matrix</h2>
    <div class="d-flex flex-wrap justify-content-evenly">
      {{if design_matrices_dict}}
      <!--  -->
      {{py: design_matrices = design_matrices_dict.items()}}
      <!--  -->
      {{for dmtx_title, dmtx in design_matrices}}
      <div class="scroll-x">
        <img
          class="pure-img"
          src="data:image/svg+xml,{{dmtx}}"
          alt="Plot of Design Matrix used in {{dmtx_title}}."
        />
      </div>
      {{endfor}}
      <!--  -->
      {{else}}
      <p>No design matrix was provided.</p>
      {{endif}}
    </div>
  </section>

  {{all_contrasts_with_plots|html}}

  <section id="mask-{{unique_id}}">
    <h2>Mask</h2>
    <div class="d-flex justify-content-evenly">
      {{if mask_plot}}
      <img
        class="pure-img"
        width="75%"
        src="data:image/svg+xml;base64,{{mask_plot}}"
        alt="Mask image."
      />
      {{else}}
      <p>No mask was provided.</p>
      {{endif}}
    </div>
  </section>

  <h3>Stat Maps with Cluster Tables</h3>
  {{component|html}}
  <!-- func:glm_reporter._make_stat_maps_contrast_clusters() -->
</div>
