{{inherit "base.html"}}
<!--  -->
{{def navbar}}
<!-- Adapted from Pure CSS navbar : https://purecss.io/layouts/tucked-menu-vertical/ -->
<nav class="navbar pure-g fw-bold" id="menu">
  <script>
    var unique_id = "{{unique_id}}";
  </script>
  <div class="pure-u-1 pure-u-lg-1-8">
    <div class="pure-menu">
      <a href="#model-details-{{unique_id}}" class="pure-menu-heading">Home</a>
      <a href="#" class="custom-toggle" id="toggle"
        ><s class="bar"></s><s class="bar"></s
      ></a>
    </div>
  </div>
  <div class="pure-u-1 pure-u-lg-1-6">
    <div class="pure-menu pure-menu-horizontal custom-can-transform">
      <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <a href="#model-details-{{unique_id}}" class="pure-menu-link"
            >Model details</a
          >
        </li>
        <li class="pure-menu-item">
          <a href="#design-matrix-{{unique_id}}" class="pure-menu-link"
            >Design Matrix</a
          >
        </li>
        <li class="pure-menu-item">
          <a href="#mask-{{unique_id}}" class="pure-menu-link">Mask</a>
        </li>
        <li class="pure-menu-item">
          <a href="#contrasts-{{unique_id}}" class="pure-menu-link"
            >Contrasts</a
          >
        </li>
        <li class="pure-menu-item">
          <a href="#statistical-maps-{{unique_id}}" class="pure-menu-link"
            >Statistical Maps</a
          >
        </li>
        <li class="pure-menu-item">
          <a href="#about-{{unique_id}}" class="pure-menu-link">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  (function (window, document) {
    var menu = document.getElementById("menu"),
      rollback,
      WINDOW_CHANGE_EVENT =
        "onorientationchange" in window ? "orientationchange" : "resize";

    function toggleHorizontal() {
      menu.classList.remove("closing");
      [].forEach.call(
        document
          .getElementById("menu")
          .querySelectorAll(".custom-can-transform"),
        function (el) {
          el.classList.toggle("pure-menu-horizontal");
        },
      );
    }

    function toggleMenu() {
      // set timeout so that the panel has a chance to roll up
      // before the menu switches states
      if (menu.classList.contains("open")) {
        menu.classList.add("closing");
        rollBack = setTimeout(toggleHorizontal, 500);
      } else {
        if (menu.classList.contains("closing")) {
          clearTimeout(rollBack);
        } else {
          toggleHorizontal();
        }
      }
      menu.classList.toggle("open");
      document.getElementById("toggle").classList.toggle("x");
    }

    function closeMenu() {
      if (menu.classList.contains("open")) {
        toggleMenu();
      }
    }

    document.getElementById("toggle").addEventListener("click", function (e) {
      toggleMenu();
      e.preventDefault();
    });

    window.addEventListener(WINDOW_CHANGE_EVENT, closeMenu);
  })(this, this.document);
</script>

{{enddef}}
<!--  -->
{{def report}}

<div class="report">
  <section>
    <h2>Description</h2>
    {{ method_section|html }}
  </section>

  <section id="model-details-{{unique_id}}">
    <h2>Model details</h2>
    <div class="table-container">{{ parameters|html }}</div>
  </section>

  <section id="design-matrix-{{unique_id}}">
    <h2>Design Matrix</h2>

    {{if design_matrices_dict}}
    <!--  -->
    {{py: design_matrices = design_matrices_dict.items()}}
    <!--  -->
    {{for dmtx_title, dmtx in design_matrices}}
    <div class="d-flex flex-column">
      <h3>run {{dmtx_title}}</h3>
      <div class="scroll-y">
        <img
          class="pure-img"
          src="data:image/png;base64,{{dmtx.design_matrix}}"
          title="Plot of design matrix for {{dmtx_title}}."
          alt="Plot of design matrix for {{dmtx_title}}."
          style="min-width: 600px"
        />
      </div>

      {{if dmtx.correlation_matrix }}
      <h4>correlation matrix</h4>
      <div class="scroll-y">
        <img
          class="pure-img"
          src="data:image/png;base64,{{dmtx.correlation_matrix}}"
          title="Plot of correlation of design matrix for run {{dmtx_title}}."
          alt="Plot of correlation of design matrix for run {{dmtx_title}}."
          style="min-width: 600px"
        />
      </div>
      {{endif}}
    </div>
    {{endfor}}
    <!--  -->
    {{else}}
    <p>No design matrix was provided.</p>
    {{endif}}
  </section>

  <section id="contrasts-{{unique_id}}">
    <h2>Contrasts</h2>
    <div class="d-flex flex-column">
      {{if contrasts_dict}}
      <!--  -->
      {{py: contrasts = contrasts_dict.items()}}
      <!--  -->
      {{for contrast_name, contrast_plot in contrasts}}
      <div class="scroll-y">
        <img
          class="pure-img"
          src="data:image/png;base64,{{contrast_plot}}"
          title="Plot of the contrast: {{contrast_name}}."
          alt="Plot of the contrast: {{contrast_name}}."
          style="min-width: 600px"
        />
      </div>
      {{endfor}}
      <!--  -->
      {{else}}
      <p>No contrast was provided.</p>
      {{endif}}
    </div>
  </section>

  <section id="mask-{{unique_id}}">
    <h2>Mask</h2>
    {{if mask_plot}}
    <div class="scroll-y">
      <img
        class="pure-img"
        src="data:image/png;base64,{{mask_plot}}"
        alt="Mask image"
        title="Mask image"
        style="min-width: 600px"
      />
    </div>
    {{else}}
    <p>No mask was provided.</p>
    {{endif}}
  </section>

  <section id="statistical-maps-{{unique_id}}">
    <h2>Statistical Maps</h2>
    <div class="pure-g">
      {{if results}}
      <!--  -->
      {{py: results = results.items()}}
      <!--  -->
      {{for contrast_name, details in results}}
      <!--  -->

      <div class="pure-u-1">
        <h3>{{contrast_name}}</h3>

        <div class="d-flex flex-column">
          <div class="scroll-y">
            <img
              class="pure-img"
              src="data:image/png;base64,{{ details.stat_map_img }}"
              alt="Stat map plot for the contrast: {{contrast_name}}"
              title="Stat map plot for the contrast: {{contrast_name}}"
              style="min-width: 600px"
            />
          </div>

          <details>
            <summary class="pure-button button-small contrast-button">
              Cluster Table
            </summary>
            {{if details.cluster_table_details }}
            <!--  -->
            {{ details.cluster_table_details|html }}
            <!--  -->
            {{else}}
            <p>No cluster table parameter provided</p>
            {{endif}}
            <!--  -->
            {{ details.cluster_table|html }}
          </details>
        </div>
      </div>
      {{endfor}} {{else}}
      <div class="d-flex flex-wrap justify-content-evenly">
        <p style="letter-spacing: normal">No statistical map was provided.</p>
      </div>

      {{endif}}
    </div>
  </section>

  <section id="about-{{unique_id}}" style="text-align: left">
    <h2>About</h2>
    <ul>
      <li>Date preprocessed: <time>{{date}}</time></li>
    </ul>
  </section>
</div>
{{enddef}}
