<p>
  Data were analyzed using <a href="https://nilearn.github.io">Nilearn</a>
  (version= {{ version }}; RRID:SCR_001362).
</p>
{{if model_type == "First Level Model"}}
<p>
  At the subject level, a mass univariate analysis was performed with a linear
  regression at each voxel of the brain, using generalized least squares with a
  global {{ noise_model }} noise model to account for temporal auto-correlation
  {{ drift_model_str }}.
</p>
{{if smoothing_fwhm }}
<p>
  Input images were smoothed with gaussian kernel
  <!--  -->
  (full-width at half maximum={{ smoothing_fwhm }} mm).
</p>
{{endif}}
<p>
  Regressors were entered into run-specific design matrices and onsets were
  convolved with {{ hrf_model }} canonical hemodynamic response function.
</p>
{{if contrasts_dict }}
<p>Contrast were computed using a fixed-effect approach across runs.</p>
{{endif}} {{endif}}
