---
# .. admonition:: TL;DR
#    :class: tip
#
#    Run benchmarks and compare them to the main branch
###
name: Run benchmarks against main

on:
    pull_request:
        branches:
        -   main

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

env:
    FORCE_COLOR: true
    MIN_PYTHON: 3.10.18


jobs:

    compare_benchmark:
        if: github.repository == 'nilearn/nilearn'
        runs-on: ubuntu-24.04
        defaults:
            run:
                working-directory: ./asv_benchmarks

        steps:
        -   uses: actions/checkout@v5
            with:
                # fetch all branches and tags
                fetch-depth: 0
                ref: ${{ github.event.pull_request.head.sha }}
        -   name: Ensure main branch is available
            run: |
                git show-ref --verify --quiet refs/heads/main || git fetch origin main:main
        -   name: For PRs check if commit message contains [bm]
            id: check-commit-msg
            run: |
                set -e -x
                commit_msg=$(git log -2 --format=oneline);
                if [[ $commit_msg == *"[bm]"* ]]; then
                    echo "running benchmarks"
                    echo "skip=false" >> $GITHUB_OUTPUT
                else
                    echo "skipping benchmarks"
                    echo "skip=true" >> $GITHUB_OUTPUT
                fi;
        -   uses: actions/setup-python@v5
            with:
                python-version: ${{ env.MIN_PYTHON }}
        -   name: Install asv
            run: |
                pip install --upgrade pip
                pip install asv
        -   name: Get all the machine info
            if: steps.check-commit-msg.outputs.skip == 'false'
            run: |
                asv machine --yes 2>&1
        -   name: Run all benchmarks on the latest commit
            if: steps.check-commit-msg.outputs.skip == 'false'
            run: asv run --verbose --show-stderr main..HEAD --steps 2
        -   name: Create html with all results
            if: steps.check-commit-msg.outputs.skip == 'false'
            run: asv publish
        -   uses: actions/upload-artifact@v4
            if: steps.check-commit-msg.outputs.skip == 'false'
            with:
                name: benchmark_artifacts_pr
                path: |
                    ./asv_benchmarks/env
                    ./asv_benchmarks/html
                    ./asv_benchmarks/results
                compression-level: 9
