---
name: Black

on:
    push:
        branches:
        -   main
    pull_request:
        branches:
        -   '*'

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    black:
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v3

        -   uses: actions/setup-python@v4
            with:
                python-version: '3.11'

        -   name: Install black
            shell: bash {0}
            run: |
                python -m pip install --upgrade pip black

        -   name: Run Black
            run: black --check .
