---
# Job to check skip flags in a commit message.
#
# To reuse from a job, use:
#
#     uses: ./.github/workflows/check_skip_flags.yml
#
###
name: Check skip flags
on:
    workflow_call:
        inputs:
            skip_type:
                description: The type of test to skip
                required: true
                type: string

jobs:
    check_skip_flags:
        runs-on: ubuntu-latest
        env:
            SKIP_TYPE: ${{ inputs.skip_type }}
        steps:
        -   name: Get repo
            uses: actions/checkout@v6
            with:
                ref: ${{ github.event.pull_request.head.sha }}
        -   name: Check head git commit message
            run: |
                headCommitMsg=$(git show -s --format=%s)
                if [[ $headCommitMsg == *"[skip ${SKIP_TYPE}]"* ]]; then
                    echo "Skipping ${SKIP_TYPE}"
                    exit 1
                fi
