---
name: f strings

on:
    push:
        branches:
        -   main
    pull_request:
        branches:
        -   '*'

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    f_strings:
        runs-on: ubuntu-latest
        steps:
        -   name: Checkout nilearn
            uses: actions/checkout@v4

        -   name: Set up Python
            uses: actions/setup-python@v5
            with:
                python-version: '3.12'
                allow-prereleases: false

        -   name: Install flynt
            shell: bash {0}
            run: python -m pip install --upgrade pip flynt

        -   name: Run flynt
            run: flynt .
