name: "flake8"

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "*"

jobs:
  pep8:
    name: PEP8 checks
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v3

      - name: "Setup python"
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: "Install Flake8"
        shell: bash {0}
        run: |
          python -m pip install --upgrade pip flake8

      - name: "Run Flake8 on whole file"
        shell: bash {0}
        run: flake8 --config=setup.cfg --verbose "nilearn/decomposition"
