name: "flake8"

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  flake8:
    name: run flake8
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v3

      - name: "Setup python"
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: "Install Flake8"
        shell: bash {0}
        run: |
          python -m pip install --upgrade pip flake8 flake8-docstrings

      - name: "Run Flake8 on whole file"
        shell: bash {0}
        run: |
          flake8 --config=setup.cfg --verbose \
            examples/0[0234567]* \
            maint_tools \
            setup.py \
            nilearn/connectome \
            nilearn/de* \
            nilearn/image \
            nilearn/mass_univariate \
            nilearn/regions \
            nilearn/*.py
