---
name: isort

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  isort:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: "Install isort"
        shell: bash {0}
        run: |
          python -m pip install --upgrade pip isort

      - name: "Run isort"
        run: |
          isort --diff --check --settings-path pyproject.toml \
            examples/0[0234567]* \
            maint_tools \
            setup.py \
            nilearn/connectome \
            nilearn/de* \
            nilearn/image \
            nilearn/mass_univariate \
            nilearn/regions \
            nilearn/*.py
