---
name: test

on:
    push:
        branches:
        -   main
    pull_request:
        branches:
        -   '*'

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

# Force to use color
env:
    FORCE_COLOR: true

jobs:
    test_and_coverage:
        if: github.repository == 'nilearn/nilearn' && ${{ github.event.head_commit.message }}
        name: 'Test with ${{ matrix.py }} on ${{ matrix.os }}: ${{ matrix.description }}'
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                description: [latest dependencies]
                py: ['3.13', '3.12', '3.11', '3.10', '3.9']
                os: [ubuntu-latest, macos-latest, windows-latest]
                env: [test_plotting]
                include:
                -   description: pre-release dependencies
                    py: '3.13'
                    os: ubuntu-latest
                    env: test_pre
                -   description: oldest dependencies - no plotting
                    py: '3.9'
                    os: ubuntu-latest
                    env: test_min
                -   description: oldest dependencies - no plotly
                    py: '3.9'
                    os: ubuntu-latest
                    env: test_plot_min
        steps:
        -   name: Dump job context
            env:
                GITHUB_CONTEXT: ${{ toJson(github) }}
            run: echo "$GITHUB_CONTEXT"
        -   uses: actions/checkout@v4
        -   name: Setup python
            uses: actions/setup-python@v5
            with:
                python-version: ${{ matrix.py }}
                allow-prereleases: true
        -   name: Install tox
            run: python -m pip install tox
        -   name: Show tox config
            run: tox c
        -   name: Run test suite
            run: tox run -e ${{ matrix.env }} -- nilearn
        -   name: Upload test report
            if: success() || failure()
            uses: actions/upload-artifact@v4
            with:
                name: ${{ matrix.os }}_${{ matrix.py }}_${{ matrix.description }}_report.html
                path: report.html
        -   name: Upload coverage to CodeCov
            uses: codecov/codecov-action@v5
            with:
                flags: ${{ matrix.os }}_${{ matrix.py }}_${{ matrix.env }}
            if: success()
