---
# Runs tests suite with free threaded python.
#
###
name: test free threaded python

on:
    pull_request:
    schedule:
        # Uses the cron schedule for github actions
        # https://docs.github.com/en/actions/reference/workflows-and-actions/events-that-trigger-workflows#schedule
        # Run every Monday at midnight UTC
        #     ┌───────────── minute (0 - 59)
        #     │ ┌───────────── hour (0 - 23)
        #     │ │ ┌───────────── day of the month (1 - 31)
        #     │ │ │ ┌───────────── month (1 - 12 or JAN-DEC)
        #     │ │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
        #     │ │ │ │ │
        #     │ │ │ │ │
        #     │ │ │ │ │
        #     * * * * *
    -   cron: 0 0 * * 1

    # This enables manual triggering from GitHub UI
    # https://docs.github.com/en/actions/reference/workflows-and-actions/events-that-trigger-workflows#workflow_dispatch
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

# Force to use color
env:
    FORCE_COLOR: true

jobs:

    free_threaded:
        if: github.repository == 'nilearn/nilearn'
        name: 'Test with ${{ matrix.py }} on ${{ matrix.os }}: ${{ matrix.description }}'
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                # TODO:
                # Run with nightly dependencies and with just latest stable
                description: [latest dependencies]
                py: [3.14t]
                # TODO: ubuntu-latest fails - figure out why
                os: [macos-latest]
                env: [free_threaded]
        steps:
        -   uses: actions/checkout@v6
        -   name: Install the latest version of uv
            uses: astral-sh/setup-uv@v7
        -   name: Setup python
            uses: actions/setup-python@v6
            with:
                python-version: ${{ matrix.py }}
                allow-prereleases: true

        -   name: Install dependencies
            run: |
                uv venv -p 3.14t
                source .venv/bin/activate
                uv pip install -e '.[test_free_threaded]'
                uv pip install --verbose --upgrade --pre \
                    --index-url https://pypi.anaconda.org/scientific-python-nightly-wheels/simple \
                    pandas scikit-learn matplotlib

        -   name: Run test suite
            # run on 8 threads
            # this may take a bit longer with 2 threads some tests can be flaky,
            # they will more systematically fail with more threads
            id: test_free_threaded
            run: |
                source .venv/bin/activate
                PYTEST_RUN_PARALLEL_VERBOSE=1
                N_THREADS=8
                pytest -m 'not flaky' --report=report.html --parallel-threads $N_THREADS nilearn

        -   name: Upload test report
            if: success() || failure()
            uses: actions/upload-artifact@v6
            with:
                name: ${{ matrix.os }}_${{ matrix.py }}_${{ matrix.description }}_report.html
                path: report.html
