---
# This workflow is triggered when a new commit is pushed to the main branch (or when a pull request is merged) and is also automatically run once a month.
#
# Checks that installing the minimum version of a given dependency of Nilearn
# along with the latest version of all the other dependencies leads to a successful run of all the tests.
#
# .. seealso::
#
#   https://github.com/nilearn/nilearn/issues/4069
#
###
name: test minimal version of each dependency

on:
    schedule:
        # Uses the cron schedule for github actions
        # https://docs.github.com/en/actions/reference/workflows-and-actions/events-that-trigger-workflows#schedule
        # Run every Monday at midnight UTC
        #     ┌───────────── minute (0 - 59)
        #     │ ┌───────────── hour (0 - 23)
        #     │ │ ┌───────────── day of the month (1 - 31)
        #     │ │ │ ┌───────────── month (1 - 12 or JAN-DEC)
        #     │ │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
        #     │ │ │ │ │
        #     │ │ │ │ │
        #     │ │ │ │ │
        #     * * * * *
    -   cron: 0 0 * * 1

    # This enables manual triggering from GitHub UI
    # https://docs.github.com/en/actions/reference/workflows-and-actions/events-that-trigger-workflows#workflow_dispatch
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

# Force to use color
env:
    FORCE_COLOR: true

jobs:
    test_min_install:
        if: github.repository == 'nilearn/nilearn'

        runs-on: ${{ matrix.os }}

        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]
                python-version: ['3.10']
                min_dep: [joblib==1.2.0, nibabel==5.2.0, numpy==1.22.4, pandas==2.2.0, scikit-learn==1.4.0, scipy==1.9.0, matplotlib==3.8.0, plotly==5.0.0]

        name: ${{ matrix.os }} with Python ${{ matrix.python-version }} and ${{ matrix.min_dep }}

        steps:
        -   name: Checkout nilearn
            uses: actions/checkout@v6

        -   name: Setup python
            uses: actions/setup-python@v6
            with:
                python-version: ${{ matrix.python-version }}

        -   name: Install dependencies for building Nilearn
            run: |
                python -m pip install --upgrade pip setuptools
                pip install ${{ matrix.min_dep }}

        -   name: Install oldest kaleido if needed (not windows)
            if: ${{ matrix.os != 'windows-latest' && matrix.min_dep == 'plotly==5.0.0' }}
            run: |
                pip install kaleido==0.2.1

        -   name: Install oldest kaleido if needed (windows)
            if: ${{ matrix.os == 'windows-latest' &&  matrix.min_dep == 'plotly==5.0.0' }}
            run: |
                pip install kaleido==0.1.0.post1

        -   name: Install nilearn
            run: pip install .[plotting,test]

        -   name: Run tests
            id: test_minimum
            run: |
                pip install pytest-mpl
                pytest --pyargs nilearn --report=report.html -n auto --csv results/pytest_output/pytest_output.csv

        -   name: Generate plots tests timing
            if: success() || failure()
            run: |
                pip install tox
                tox run -e plot_test_timing

        -   name: Upload test report
            if: success() || failure()
            uses: actions/upload-artifact@v6
            with:
                name: ${{ matrix.os }}_${{ matrix.min_dep }}_report.html
                path: report.html

        -   name: Upload test timings
            if: success() || failure()
            uses: actions/upload-artifact@v6
            with:
                name: ${{ matrix.os }}_${{ matrix.min_dep }}_pytest_output
                path: results/pytest_output

        -   name: Create issue
            if: ${{ steps.test_minimum.outcome != 'success' }}
            uses: JasonEtco/create-an-issue@v2.9.2
            env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                run_id: ${{ github.run_id }}
                repository: ${{ github.repository }}
                workflow_name: TEST MINIMUM DEPENDENCIES
            with:
                filename: .github/workflow_failure.md
                update_existing: true
                search_existing: open

        -   name: Return failure
            if: ${{ steps.test_minimum.outcome != 'success' }}
            run: exit 1
